.hidden {
    display: none;
}


.grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 40rem));
    gap: 3rem;
}

.grid-2>div {
    margin-top: 3rem;
    box-shadow: lightgray 0 0 8px;
    padding: 1rem;
}


.listing {
    max-width: 40rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 0.7rem;
}

.listing>div {
    width: fit-content;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 5rem;
    max-width: 8rem;
    margin: 4px;
    padding: 4px;
    background-color: rgb(83, 119, 83);
    color: white;
    border-radius: 2px;
    box-shadow: 2px 2px 2px black;
}

.listing label {
    pointer-events: none;
}

.hidden,
#menu.hidden,
#home.hidden,
#app.hidden {
    display: none;
}

.flexit {
    display: flex;
}

.flexit > div {
    min-width: fit-content !important;
}