.hidden {
    display: none;
}


.grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 40rem));
    gap: 3rem;
}

.grid-2>div {
    margin-top: 3rem;
    box-shadow: lightgray 0 0 8px;
    padding: 1rem;
}


.listing {
    max-width: 40rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 0.7rem;
    border: solid gray 1px;
    min-height: 8rem;
    padding: 5px;
}

.listing>div {
    width: fit-content;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 5rem;
    max-width: 8rem;
    max-height: 1rem;
    margin: 4px;
    padding: 4px;
    background-color: rgb(83, 119, 83);
    color: white;
    border-radius: 2px;
    box-shadow: 2px 2px 2px black;
}

.listing label {
    pointer-events: none;
}

.hidden,
#menu.hidden,
#home.hidden,
#app.hidden {
    display: none;
}

.flexit {
    display: flex;
}

.flexit>div {
    min-width: fit-content !important;
}

div.folders {
    display: flex;
    margin: 5px;
}


div.fold {
    position: relative;
    height: calc(1rem + 2px);
    top: 4px;
    color: black;
    background-color: rgba(128, 128, 128, 0.478);
    box-shadow: 2px 0px gray;
    margin: 2px;
    min-width: 3rem;
    text-align: center;
    border: solid rgba(128, 128, 128, 0.401) 1px;
    margin-bottom: -6px;
    transition: background-color 0.3s;
    box-shadow: 2px 0px gray;
    cursor: pointer;
    user-select: none;
}

div.fold.aktiv {
    border-radius: 4px 4px 0 0;
    height: 1.4rem;
    top: 0px;
    color: white;
    background-color: steelblue;
    box-shadow: 2px 0px rgb(29, 35, 42);
}